
        *{
            font-family: 'Times New Roman', Times, serif;
            margin: 0px;
            padding: 0px;
        }
        .maxWidth{
            font-family: 'Times New Roman', Times, serif;
            width: 1680px;
            background-color: #333;
            margin: auto;
        }
        #navbar{
            position: fixed;
            z-index: 1000;
            top: 0;
            width: 100%;
            height: 45px;
            margin: auto;
            display: flex;
            padding: 3px;
            background-color: #000;
            color: white;
        }
        .search{
            height: 20px;
            
            background-color: #a3a3a3;
        }
        #searchIp{
            height: 20px;
            width: 130px;
            margin-left: 8px;
            background-color: #000;
            border: 0px black solid;
        }
        #navSearch{
            border: 1px white solid;
            border-radius: 5px;
            padding: 3px;
            height: 23px;
            margin-top: 5px;
            width: fit-content;
            display: flex;
            background-color: #000;
        }
        .flex{
            display: flex;
            margin-right: 30px;
            max-height: 40px;
            justify-content: end;
        }
        #profile{
            height: 25px;
            border-radius: 50%;
            margin-left: 10px ;
            margin-top: 12px;
        background-color: white;
        visibility: hidden;
        }
        #Signin > img{
            height: 25px;
            border-radius: 50%;
            margin: 3px ;
            margin-top: 5px;
        background-color: white;
        }
        #Signin{
            cursor: pointer;
            display: flex;
            line-height: 35px;
            background-color: #0a84ff;
            border-radius: 10px;
            height: 32px;
            width: 80px;
            padding: 0px 10px;
            margin: 5px   ;
        }
    
        #singinPopup{
            z-index: 100;
            visibility: hidden;
            background-color: #333;
            top: 10%;
            left: 30%;
            width: 30%;
            padding: 50px;
            border-radius: 10px;
            position: absolute;
            align-items: center;
            color: white;
            line-height: 40px;
            text-align: center;
        }
        .inbox{
            height: 20px;
            margin: 10px;
            padding: 10px;
            width: 60%;
            border-radius: 5px;
        }
        #SignInForm > button{
            height: 40px;
        }
        .submit:hover{
            height: 40px;
            width: 25%;
        }
        .submit{
            margin: 10px 100px;
            width: 25%;
            border: #0a84ff 1px solid;
            height: 32px;
            border-radius: 10px;
            background-color: #0a84ff;
            color: aliceblue;
        }
        #creatId:hover{ 
            font-weight: 800;
        }
        .mainLogo{
            height: 40px;
        }

        #navLogo{
            text-align: center;
            width: 90%;
        }



        #hero{
            visibility: hidden;
            margin-top: 0px;
            width: 100%;
            /* height: 800px; */
            background-image: linear-gradient(rgba(12,3,51,0.3),gba(12,3,51,0.3));
            /* position: sticky; */
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        #hero > div{
            color: white;
            width: 80%;
            display: flex;
            gap: 50px;
            justify-content: space-between;
            height: auto;
            position: absolute;
            margin-top: 500px;
            text-align: center;
            font-size: large;
            /* padding: 20px 8%; */
         
           
        }
        
        .back-video{
           
            width: 100%;
            /* position: absolute; */
            z-index: -100;
        }
        .videoText{
            background-color: white;
            color: black;
            border-radius: 10px;
            margin: 10px;
            width: 180px;
            cursor: pointer;
            padding: 10px;
            font-weight: 800;
        }
        .info{
            margin-top: 30px;
            text-align: left;
        }
        #banners{
           
            width: 100%;
            /* overflow: hidden; */
            /* height: 600px; */
            /* position: absolute; */
            margin-top: -800px;
            /* background-size: 100% auto; */
            /* background-repeat: no-repeat; */
        }
      
        .bimg{
            width: 100%;
            height: fit-content;
        }
        #bannersInfo{
            margin-top: -100px;
            color: white;
            margin-left: 10%;
            margin-top: -15%;
            
        }
      
    